@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1728px 1485px #fff, 398px 1997px #fff, 856px 724px #fff,
    1251px 1671px #fff, 1119px 461px #fff, 1499px 725px #fff, 311px 366px #fff,
    332px 1773px #fff, 987px 222px #fff, 356px 1793px #fff, 210px 280px #fff,
    1258px 794px #fff, 1477px 355px #fff, 415px 1905px #fff, 441px 258px #fff,
    1262px 1630px #fff, 1666px 1714px #fff, 857px 1327px #fff, 752px 312px #fff,
    1082px 279px #fff, 506px 56px #fff, 1100px 1656px #fff, 1144px 1307px #fff,
    1630px 1732px #fff, 65px 187px #fff, 1741px 71px #fff, 1764px 1064px #fff,
    1253px 1172px #fff, 891px 391px #fff, 1597px 813px #fff, 883px 639px #fff,
    123px 171px #fff, 1775px 1198px #fff, 221px 283px #fff, 948px 395px #fff,
    1963px 1373px #fff, 662px 289px #fff, 166px 636px #fff, 1335px 1363px #fff,
    1099px 1969px #fff, 47px 1311px #fff, 1765px 1363px #fff, 387px 964px #fff,
    530px 821px #fff, 1149px 43px #fff, 1518px 1724px #fff, 503px 1051px #fff,
    1712px 515px #fff, 311px 1111px #fff, 1661px 1840px #fff, 616px 368px #fff,
    1959px 1842px #fff, 1309px 1534px #fff, 39px 557px #fff, 104px 491px #fff,
    1532px 1188px #fff, 1555px 800px #fff, 725px 306px #fff, 1234px 1619px #fff,
    1201px 1298px #fff, 194px 83px #fff, 1474px 1106px #fff, 1603px 1516px #fff,
    492px 522px #fff, 826px 257px #fff, 220px 1481px #fff, 205px 1567px #fff,
    107px 688px #fff, 1403px 538px #fff, 1052px 1938px #fff, 474px 375px #fff,
    1590px 1962px #fff, 1775px 671px #fff, 57px 1003px #fff, 1701px 518px #fff,
    1829px 916px #fff, 229px 17px #fff, 692px 1067px #fff, 1232px 957px #fff,
    1057px 1301px #fff, 1847px 647px #fff, 581px 1529px #fff, 1041px 1067px #fff,
    26px 662px #fff, 1194px 523px #fff, 1481px 259px #fff, 1852px 536px #fff,
    1587px 1615px #fff, 1404px 145px #fff, 1444px 1527px #fff, 481px 580px #fff,
    1286px 67px #fff, 1087px 1412px #fff, 156px 514px #fff, 629px 138px #fff,
    1143px 615px #fff, 1034px 738px #fff, 776px 1691px #fff, 73px 1761px #fff,
    191px 962px #fff, 768px 279px #fff, 1927px 535px #fff, 1561px 1031px #fff,
    1094px 1546px #fff, 267px 730px #fff, 307px 584px #fff, 511px 704px #fff,
    1042px 1576px #fff, 143px 764px #fff, 724px 710px #fff, 1757px 744px #fff,
    1477px 1247px #fff, 829px 921px #fff, 1749px 597px #fff, 1403px 1531px #fff,
    1405px 1320px #fff, 1027px 1015px #fff, 530px 1115px #fff, 1635px 347px #fff,
    1518px 1372px #fff, 489px 1572px #fff, 1913px 1238px #fff,
    1396px 1571px #fff, 282px 1422px #fff, 863px 1107px #fff, 269px 318px #fff,
    182px 1305px #fff, 1435px 693px #fff, 265px 776px #fff, 832px 908px #fff,
    540px 234px #fff, 505px 1705px #fff, 490px 1665px #fff, 681px 1778px #fff,
    852px 422px #fff, 1674px 1189px #fff, 1316px 1779px #fff, 1067px 1965px #fff,
    781px 1694px #fff, 1702px 1115px #fff, 807px 1525px #fff, 1777px 150px #fff,
    143px 877px #fff, 55px 1749px #fff, 1220px 1218px #fff, 1006px 877px #fff,
    545px 1854px #fff, 1807px 211px #fff, 468px 325px #fff, 481px 1313px #fff,
    1133px 1098px #fff, 1473px 1614px #fff, 224px 1720px #fff, 437px 731px #fff,
    300px 1477px #fff, 264px 66px #fff, 1037px 1164px #fff, 984px 1419px #fff,
    920px 1954px #fff, 1142px 252px #fff, 678px 1798px #fff, 1853px 313px #fff,
    257px 425px #fff, 923px 1514px #fff, 1513px 911px #fff, 690px 1197px #fff,
    542px 306px #fff, 1455px 485px #fff, 1420px 1193px #fff, 1840px 1887px #fff,
    587px 888px #fff, 679px 985px #fff, 469px 1209px #fff, 1613px 1755px #fff,
    548px 1243px #fff, 1325px 1238px #fff, 784px 251px #fff, 221px 1354px #fff,
    303px 1737px #fff, 963px 357px #fff, 230px 377px #fff, 952px 52px #fff,
    881px 994px #fff, 1546px 746px #fff, 956px 1602px #fff, 159px 1064px #fff,
    448px 1530px #fff, 1642px 877px #fff, 932px 1348px #fff, 1303px 427px #fff,
    526px 919px #fff, 1217px 1260px #fff, 13px 1819px #fff, 1973px 581px #fff,
    1947px 1198px #fff, 99px 788px #fff, 1519px 1488px #fff, 655px 317px #fff,
    1143px 113px #fff, 160px 854px #fff, 797px 570px #fff, 516px 1687px #fff,
    924px 752px #fff, 1152px 978px #fff, 1399px 1861px #fff, 1369px 831px #fff,
    603px 1701px #fff, 1698px 1029px #fff, 893px 1617px #fff, 1671px 1700px #fff,
    1673px 1379px #fff, 1130px 1074px #fff, 307px 999px #fff, 170px 1848px #fff,
    299px 647px #fff, 1884px 1148px #fff, 1107px 286px #fff, 236px 732px #fff,
    49px 592px #fff, 1831px 591px #fff, 280px 444px #fff, 729px 1928px #fff,
    1897px 281px #fff, 489px 1316px #fff, 1135px 1446px #fff, 153px 913px #fff,
    247px 1577px #fff, 1008px 1749px #fff, 1034px 1200px #fff, 908px 1120px #fff,
    347px 905px #fff, 1972px 90px #fff, 1086px 15px #fff, 1320px 1798px #fff,
    132px 361px #fff, 210px 867px #fff, 986px 1038px #fff, 1986px 1960px #fff,
    1727px 390px #fff, 702px 1320px #fff, 1861px 173px #fff, 1103px 451px #fff,
    1875px 292px #fff, 802px 802px #fff, 153px 959px #fff, 552px 711px #fff,
    1079px 205px #fff, 1866px 1613px #fff, 1930px 1827px #fff,
    1037px 1400px #fff, 812px 1616px #fff, 1710px 1128px #fff,
    1990px 1126px #fff, 1267px 874px #fff, 1543px 673px #fff, 414px 175px #fff,
    1672px 889px #fff, 1264px 171px #fff, 1530px 845px #fff, 222px 1195px #fff,
    281px 1165px #fff, 500px 1570px #fff, 529px 1295px #fff, 1879px 997px #fff,
    1687px 1933px #fff, 1809px 153px #fff, 912px 1902px #fff, 1271px 1507px #fff,
    1264px 83px #fff, 1089px 1351px #fff, 1639px 1922px #fff, 1051px 1322px #fff,
    431px 1398px #fff, 1518px 479px #fff, 445px 1862px #fff, 1877px 462px #fff,
    1510px 1804px #fff, 415px 1501px #fff, 1423px 101px #fff, 262px 979px #fff,
    150px 936px #fff, 1119px 861px #fff, 1695px 149px #fff, 801px 322px #fff,
    1546px 1101px #fff, 1646px 1747px #fff, 1434px 1070px #fff,
    1411px 1763px #fff, 1309px 1815px #fff, 935px 1122px #fff, 243px 806px #fff,
    913px 1721px #fff, 1539px 1314px #fff, 475px 647px #fff, 1496px 253px #fff,
    262px 481px #fff, 579px 1982px #fff, 1929px 160px #fff, 1715px 604px #fff,
    915px 1027px #fff, 192px 1512px #fff, 1988px 701px #fff, 1722px 1385px #fff,
    1741px 245px #fff, 836px 1445px #fff, 586px 913px #fff, 449px 1572px #fff,
    367px 100px #fff, 136px 721px #fff, 20px 92px #fff, 1115px 676px #fff,
    941px 600px #fff, 15px 1186px #fff, 1802px 424px #fff, 1648px 102px #fff,
    1889px 1005px #fff, 1779px 213px #fff, 1811px 287px #fff, 1686px 535px #fff,
    1160px 1010px #fff, 1777px 1590px #fff, 1105px 359px #fff, 655px 1960px #fff,
    674px 735px #fff, 1205px 1338px #fff, 1490px 701px #fff, 1460px 296px #fff,
    142px 1108px #fff, 575px 1471px #fff, 1815px 135px #fff, 253px 639px #fff,
    1641px 1580px #fff, 1714px 336px #fff, 146px 531px #fff, 618px 885px #fff,
    1763px 520px #fff, 888px 1847px #fff, 252px 1488px #fff, 1933px 1275px #fff,
    180px 1933px #fff, 1831px 1271px #fff, 525px 228px #fff, 918px 1702px #fff,
    76px 82px #fff, 1297px 1794px #fff, 1230px 908px #fff, 1885px 501px #fff,
    221px 932px #fff, 356px 1084px #fff, 1189px 899px #fff, 1479px 1343px #fff,
    738px 98px #fff, 700px 362px #fff, 356px 545px #fff, 1897px 1571px #fff,
    210px 1913px #fff, 1929px 103px #fff, 1294px 1300px #fff, 549px 877px #fff,
    1231px 769px #fff, 1733px 351px #fff, 225px 1931px #fff, 1321px 872px #fff,
    1524px 403px #fff, 1132px 19px #fff, 279px 912px #fff, 147px 1114px #fff,
    1970px 159px #fff, 769px 1298px #fff, 256px 555px #fff, 31px 766px #fff,
    27px 1050px #fff, 566px 1408px #fff, 1604px 1339px #fff, 1323px 530px #fff,
    1222px 179px #fff, 1090px 382px #fff, 1992px 912px #fff, 1528px 1268px #fff,
    18px 1205px #fff, 553px 680px #fff, 980px 85px #fff, 1261px 1636px #fff,
    1331px 94px #fff, 1053px 1140px #fff, 1191px 1922px #fff, 471px 634px #fff,
    1138px 719px #fff, 1755px 373px #fff, 387px 7px #fff, 953px 85px #fff,
    1975px 131px #fff, 467px 1840px #fff, 10px 1141px #fff, 1085px 830px #fff,
    586px 977px #fff, 1766px 1890px #fff, 575px 573px #fff, 355px 1124px #fff,
    880px 1724px #fff, 1645px 695px #fff, 1317px 1480px #fff, 1391px 1371px #fff,
    177px 1934px #fff, 86px 1596px #fff, 743px 63px #fff, 763px 101px #fff,
    1148px 1978px #fff, 1651px 1660px #fff, 724px 863px #fff, 1538px 1549px #fff,
    497px 1866px #fff, 1122px 1675px #fff, 11px 31px #fff, 1619px 1623px #fff,
    833px 1129px #fff, 1312px 397px #fff, 300px 1680px #fff, 1840px 914px #fff,
    1898px 603px #fff, 1711px 430px #fff, 1859px 1085px #fff, 605px 528px #fff,
    724px 59px #fff, 781px 782px #fff, 185px 1698px #fff, 1450px 925px #fff,
    1465px 620px #fff, 1846px 426px #fff, 1067px 698px #fff, 459px 255px #fff,
    1468px 353px #fff, 1957px 1735px #fff, 1706px 1279px #fff, 783px 727px #fff,
    1862px 1502px #fff, 1202px 1402px #fff, 1782px 1456px #fff, 426px 482px #fff,
    180px 355px #fff, 1939px 1842px #fff, 173px 287px #fff, 147px 1807px #fff,
    482px 1262px #fff, 1259px 919px #fff, 404px 667px #fff, 1599px 452px #fff,
    967px 1928px #fff, 787px 856px #fff, 1734px 57px #fff, 1659px 640px #fff,
    717px 1482px #fff, 907px 320px #fff, 111px 1285px #fff, 1134px 243px #fff,
    102px 666px #fff, 950px 364px #fff, 803px 449px #fff, 1294px 1819px #fff,
    1950px 1878px #fff, 1767px 97px #fff, 861px 1601px #fff, 1121px 1555px #fff,
    157px 1084px #fff, 892px 526px #fff, 866px 1341px #fff, 329px 1699px #fff,
    1476px 1203px #fff, 41px 429px #fff, 830px 804px #fff, 429px 1673px #fff,
    1664px 528px #fff, 1553px 1152px #fff, 252px 1969px #fff, 819px 885px #fff,
    426px 80px #fff, 1389px 973px #fff, 319px 231px #fff, 1479px 1653px #fff,
    1854px 368px #fff, 1572px 1751px #fff, 1613px 1622px #fff,
    1086px 1063px #fff, 1578px 615px #fff, 1369px 1421px #fff, 1138px 579px #fff,
    1807px 1385px #fff, 1734px 1505px #fff, 1700px 1271px #fff, 1243px 65px #fff,
    466px 944px #fff, 299px 339px #fff, 1800px 120px #fff, 1653px 1389px #fff,
    278px 685px #fff, 1876px 36px #fff, 1332px 1772px #fff, 1241px 1247px #fff,
    232px 166px #fff, 175px 495px #fff, 305px 1081px #fff, 479px 1263px #fff,
    1258px 1109px #fff, 1067px 803px #fff, 620px 363px #fff, 1743px 1365px #fff,
    1184px 1015px #fff, 405px 695px #fff, 251px 1059px #fff, 1778px 388px #fff,
    1864px 1912px #fff, 577px 786px #fff, 465px 1953px #fff, 1067px 1688px #fff,
    1645px 1461px #fff, 280px 335px #fff, 1284px 1750px #fff, 599px 1541px #fff,
    1623px 1154px #fff, 69px 1663px #fff, 694px 109px #fff, 158px 243px #fff,
    1538px 658px #fff, 299px 1867px #fff, 245px 1824px #fff, 98px 477px #fff,
    1754px 1565px #fff, 496px 343px #fff, 1305px 691px #fff, 1040px 668px #fff,
    1148px 1685px #fff, 487px 462px #fff, 1764px 542px #fff, 1583px 1080px #fff,
    1474px 1296px #fff, 322px 1309px #fff, 972px 589px #fff, 6px 1980px #fff,
    1914px 1991px #fff, 1673px 158px #fff, 984px 1075px #fff, 1542px 253px #fff,
    1575px 834px #fff, 1166px 1764px #fff, 1657px 597px #fff, 1592px 1183px #fff,
    1279px 891px #fff, 382px 539px #fff, 1888px 1252px #fff, 1144px 775px #fff,
    1607px 1366px #fff, 1380px 1466px #fff, 516px 1888px #fff, 1965px 472px #fff,
    1689px 1803px #fff, 1573px 506px #fff, 1779px 1049px #fff, 1136px 258px #fff,
    144px 684px #fff, 1613px 211px #fff, 114px 1315px #fff, 1060px 304px #fff,
    1978px 1801px #fff, 421px 1807px #fff, 706px 1902px #fff, 820px 699px #fff,
    803px 1753px #fff, 205px 510px #fff, 1404px 1181px #fff, 543px 1711px #fff,
    1447px 1717px #fff, 1846px 1996px #fff, 1122px 356px #fff,
    1136px 1178px #fff, 711px 434px #fff, 1723px 895px #fff, 867px 606px #fff,
    1130px 1812px #fff, 500px 243px #fff, 1100px 931px #fff, 1638px 1311px #fff,
    452px 1551px #fff, 990px 78px #fff, 583px 1559px #fff, 1254px 1056px #fff,
    617px 1161px #fff, 1425px 1345px #fff, 329px 312px #fff, 728px 329px #fff,
    63px 1631px #fff, 830px 1060px #fff, 174px 1013px #fff, 1440px 1156px #fff,
    1352px 460px #fff, 612px 1287px #fff, 1074px 1718px #fff, 1510px 799px #fff,
    1314px 1020px #fff, 1027px 1765px #fff, 1556px 396px #fff, 878px 1618px #fff,
    675px 983px #fff, 656px 769px #fff, 1739px 1157px #fff, 975px 1145px #fff,
    1346px 1949px #fff, 738px 935px #fff, 829px 1567px #fff, 401px 756px #fff,
    268px 898px #fff, 1597px 1917px #fff, 1128px 1541px #fff, 1113px 777px #fff,
    1915px 169px #fff, 1829px 1990px #fff, 909px 1178px #fff, 425px 1316px #fff,
    815px 850px #fff, 1511px 1334px #fff, 491px 598px #fff, 1380px 287px #fff,
    1874px 985px #fff, 1117px 354px #fff, 923px 1201px #fff, 232px 577px #fff,
    885px 145px #fff, 1233px 351px #fff, 1231px 205px #fff, 1581px 1720px #fff,
    111px 1935px #fff, 966px 1727px #fff, 56px 611px #fff, 343px 1674px #fff,
    1203px 394px #fff, 326px 1271px #fff, 243px 281px #fff, 1849px 418px #fff,
    1175px 1805px #fff, 1943px 686px #fff, 1665px 1527px #fff, 372px 1071px #fff,
    1111px 1551px #fff, 1262px 1172px #fff, 885px 1827px #fff, 909px 406px #fff,
    1270px 1989px #fff, 1200px 728px #fff, 75px 393px #fff, 1545px 734px #fff,
    846px 1292px #fff, 1843px 1045px #fff, 532px 1682px #fff, 1680px 1038px #fff,
    729px 220px #fff, 184px 1850px #fff, 1377px 238px #fff, 81px 1738px #fff,
    1690px 1867px #fff, 1894px 1274px #fff, 309px 234px #fff, 319px 1807px #fff,
    92px 730px #fff, 1393px 1616px #fff, 849px 142px #fff, 148px 1695px #fff,
    1017px 1823px #fff, 240px 199px #fff, 1041px 1113px #fff, 626px 1757px #fff,
    1081px 1942px #fff, 688px 1328px #fff, 1371px 1815px #fff, 1302px 324px #fff,
    206px 1411px #fff, 1300px 313px #fff, 770px 1499px #fff, 216px 953px #fff,
    386px 665px #fff, 433px 944px #fff, 1248px 1110px #fff, 1755px 881px #fff,
    1464px 401px #fff, 1269px 132px #fff, 1306px 842px #fff, 1071px 1953px #fff,
    1440px 1382px #fff, 1470px 1071px #fff, 238px 1235px #fff, 82px 573px #fff,
    303px 400px #fff, 974px 536px #fff, 1794px 1575px #fff, 77px 928px #fff,
    908px 146px #fff, 711px 1329px #fff, 725px 1109px #fff, 1858px 1158px #fff,
    748px 1953px #fff, 688px 572px #fff, 77px 1289px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1728px 1485px #fff, 398px 1997px #fff, 856px 724px #fff,
    1251px 1671px #fff, 1119px 461px #fff, 1499px 725px #fff, 311px 366px #fff,
    332px 1773px #fff, 987px 222px #fff, 356px 1793px #fff, 210px 280px #fff,
    1258px 794px #fff, 1477px 355px #fff, 415px 1905px #fff, 441px 258px #fff,
    1262px 1630px #fff, 1666px 1714px #fff, 857px 1327px #fff, 752px 312px #fff,
    1082px 279px #fff, 506px 56px #fff, 1100px 1656px #fff, 1144px 1307px #fff,
    1630px 1732px #fff, 65px 187px #fff, 1741px 71px #fff, 1764px 1064px #fff,
    1253px 1172px #fff, 891px 391px #fff, 1597px 813px #fff, 883px 639px #fff,
    123px 171px #fff, 1775px 1198px #fff, 221px 283px #fff, 948px 395px #fff,
    1963px 1373px #fff, 662px 289px #fff, 166px 636px #fff, 1335px 1363px #fff,
    1099px 1969px #fff, 47px 1311px #fff, 1765px 1363px #fff, 387px 964px #fff,
    530px 821px #fff, 1149px 43px #fff, 1518px 1724px #fff, 503px 1051px #fff,
    1712px 515px #fff, 311px 1111px #fff, 1661px 1840px #fff, 616px 368px #fff,
    1959px 1842px #fff, 1309px 1534px #fff, 39px 557px #fff, 104px 491px #fff,
    1532px 1188px #fff, 1555px 800px #fff, 725px 306px #fff, 1234px 1619px #fff,
    1201px 1298px #fff, 194px 83px #fff, 1474px 1106px #fff, 1603px 1516px #fff,
    492px 522px #fff, 826px 257px #fff, 220px 1481px #fff, 205px 1567px #fff,
    107px 688px #fff, 1403px 538px #fff, 1052px 1938px #fff, 474px 375px #fff,
    1590px 1962px #fff, 1775px 671px #fff, 57px 1003px #fff, 1701px 518px #fff,
    1829px 916px #fff, 229px 17px #fff, 692px 1067px #fff, 1232px 957px #fff,
    1057px 1301px #fff, 1847px 647px #fff, 581px 1529px #fff, 1041px 1067px #fff,
    26px 662px #fff, 1194px 523px #fff, 1481px 259px #fff, 1852px 536px #fff,
    1587px 1615px #fff, 1404px 145px #fff, 1444px 1527px #fff, 481px 580px #fff,
    1286px 67px #fff, 1087px 1412px #fff, 156px 514px #fff, 629px 138px #fff,
    1143px 615px #fff, 1034px 738px #fff, 776px 1691px #fff, 73px 1761px #fff,
    191px 962px #fff, 768px 279px #fff, 1927px 535px #fff, 1561px 1031px #fff,
    1094px 1546px #fff, 267px 730px #fff, 307px 584px #fff, 511px 704px #fff,
    1042px 1576px #fff, 143px 764px #fff, 724px 710px #fff, 1757px 744px #fff,
    1477px 1247px #fff, 829px 921px #fff, 1749px 597px #fff, 1403px 1531px #fff,
    1405px 1320px #fff, 1027px 1015px #fff, 530px 1115px #fff, 1635px 347px #fff,
    1518px 1372px #fff, 489px 1572px #fff, 1913px 1238px #fff,
    1396px 1571px #fff, 282px 1422px #fff, 863px 1107px #fff, 269px 318px #fff,
    182px 1305px #fff, 1435px 693px #fff, 265px 776px #fff, 832px 908px #fff,
    540px 234px #fff, 505px 1705px #fff, 490px 1665px #fff, 681px 1778px #fff,
    852px 422px #fff, 1674px 1189px #fff, 1316px 1779px #fff, 1067px 1965px #fff,
    781px 1694px #fff, 1702px 1115px #fff, 807px 1525px #fff, 1777px 150px #fff,
    143px 877px #fff, 55px 1749px #fff, 1220px 1218px #fff, 1006px 877px #fff,
    545px 1854px #fff, 1807px 211px #fff, 468px 325px #fff, 481px 1313px #fff,
    1133px 1098px #fff, 1473px 1614px #fff, 224px 1720px #fff, 437px 731px #fff,
    300px 1477px #fff, 264px 66px #fff, 1037px 1164px #fff, 984px 1419px #fff,
    920px 1954px #fff, 1142px 252px #fff, 678px 1798px #fff, 1853px 313px #fff,
    257px 425px #fff, 923px 1514px #fff, 1513px 911px #fff, 690px 1197px #fff,
    542px 306px #fff, 1455px 485px #fff, 1420px 1193px #fff, 1840px 1887px #fff,
    587px 888px #fff, 679px 985px #fff, 469px 1209px #fff, 1613px 1755px #fff,
    548px 1243px #fff, 1325px 1238px #fff, 784px 251px #fff, 221px 1354px #fff,
    303px 1737px #fff, 963px 357px #fff, 230px 377px #fff, 952px 52px #fff,
    881px 994px #fff, 1546px 746px #fff, 956px 1602px #fff, 159px 1064px #fff,
    448px 1530px #fff, 1642px 877px #fff, 932px 1348px #fff, 1303px 427px #fff,
    526px 919px #fff, 1217px 1260px #fff, 13px 1819px #fff, 1973px 581px #fff,
    1947px 1198px #fff, 99px 788px #fff, 1519px 1488px #fff, 655px 317px #fff,
    1143px 113px #fff, 160px 854px #fff, 797px 570px #fff, 516px 1687px #fff,
    924px 752px #fff, 1152px 978px #fff, 1399px 1861px #fff, 1369px 831px #fff,
    603px 1701px #fff, 1698px 1029px #fff, 893px 1617px #fff, 1671px 1700px #fff,
    1673px 1379px #fff, 1130px 1074px #fff, 307px 999px #fff, 170px 1848px #fff,
    299px 647px #fff, 1884px 1148px #fff, 1107px 286px #fff, 236px 732px #fff,
    49px 592px #fff, 1831px 591px #fff, 280px 444px #fff, 729px 1928px #fff,
    1897px 281px #fff, 489px 1316px #fff, 1135px 1446px #fff, 153px 913px #fff,
    247px 1577px #fff, 1008px 1749px #fff, 1034px 1200px #fff, 908px 1120px #fff,
    347px 905px #fff, 1972px 90px #fff, 1086px 15px #fff, 1320px 1798px #fff,
    132px 361px #fff, 210px 867px #fff, 986px 1038px #fff, 1986px 1960px #fff,
    1727px 390px #fff, 702px 1320px #fff, 1861px 173px #fff, 1103px 451px #fff,
    1875px 292px #fff, 802px 802px #fff, 153px 959px #fff, 552px 711px #fff,
    1079px 205px #fff, 1866px 1613px #fff, 1930px 1827px #fff,
    1037px 1400px #fff, 812px 1616px #fff, 1710px 1128px #fff,
    1990px 1126px #fff, 1267px 874px #fff, 1543px 673px #fff, 414px 175px #fff,
    1672px 889px #fff, 1264px 171px #fff, 1530px 845px #fff, 222px 1195px #fff,
    281px 1165px #fff, 500px 1570px #fff, 529px 1295px #fff, 1879px 997px #fff,
    1687px 1933px #fff, 1809px 153px #fff, 912px 1902px #fff, 1271px 1507px #fff,
    1264px 83px #fff, 1089px 1351px #fff, 1639px 1922px #fff, 1051px 1322px #fff,
    431px 1398px #fff, 1518px 479px #fff, 445px 1862px #fff, 1877px 462px #fff,
    1510px 1804px #fff, 415px 1501px #fff, 1423px 101px #fff, 262px 979px #fff,
    150px 936px #fff, 1119px 861px #fff, 1695px 149px #fff, 801px 322px #fff,
    1546px 1101px #fff, 1646px 1747px #fff, 1434px 1070px #fff,
    1411px 1763px #fff, 1309px 1815px #fff, 935px 1122px #fff, 243px 806px #fff,
    913px 1721px #fff, 1539px 1314px #fff, 475px 647px #fff, 1496px 253px #fff,
    262px 481px #fff, 579px 1982px #fff, 1929px 160px #fff, 1715px 604px #fff,
    915px 1027px #fff, 192px 1512px #fff, 1988px 701px #fff, 1722px 1385px #fff,
    1741px 245px #fff, 836px 1445px #fff, 586px 913px #fff, 449px 1572px #fff,
    367px 100px #fff, 136px 721px #fff, 20px 92px #fff, 1115px 676px #fff,
    941px 600px #fff, 15px 1186px #fff, 1802px 424px #fff, 1648px 102px #fff,
    1889px 1005px #fff, 1779px 213px #fff, 1811px 287px #fff, 1686px 535px #fff,
    1160px 1010px #fff, 1777px 1590px #fff, 1105px 359px #fff, 655px 1960px #fff,
    674px 735px #fff, 1205px 1338px #fff, 1490px 701px #fff, 1460px 296px #fff,
    142px 1108px #fff, 575px 1471px #fff, 1815px 135px #fff, 253px 639px #fff,
    1641px 1580px #fff, 1714px 336px #fff, 146px 531px #fff, 618px 885px #fff,
    1763px 520px #fff, 888px 1847px #fff, 252px 1488px #fff, 1933px 1275px #fff,
    180px 1933px #fff, 1831px 1271px #fff, 525px 228px #fff, 918px 1702px #fff,
    76px 82px #fff, 1297px 1794px #fff, 1230px 908px #fff, 1885px 501px #fff,
    221px 932px #fff, 356px 1084px #fff, 1189px 899px #fff, 1479px 1343px #fff,
    738px 98px #fff, 700px 362px #fff, 356px 545px #fff, 1897px 1571px #fff,
    210px 1913px #fff, 1929px 103px #fff, 1294px 1300px #fff, 549px 877px #fff,
    1231px 769px #fff, 1733px 351px #fff, 225px 1931px #fff, 1321px 872px #fff,
    1524px 403px #fff, 1132px 19px #fff, 279px 912px #fff, 147px 1114px #fff,
    1970px 159px #fff, 769px 1298px #fff, 256px 555px #fff, 31px 766px #fff,
    27px 1050px #fff, 566px 1408px #fff, 1604px 1339px #fff, 1323px 530px #fff,
    1222px 179px #fff, 1090px 382px #fff, 1992px 912px #fff, 1528px 1268px #fff,
    18px 1205px #fff, 553px 680px #fff, 980px 85px #fff, 1261px 1636px #fff,
    1331px 94px #fff, 1053px 1140px #fff, 1191px 1922px #fff, 471px 634px #fff,
    1138px 719px #fff, 1755px 373px #fff, 387px 7px #fff, 953px 85px #fff,
    1975px 131px #fff, 467px 1840px #fff, 10px 1141px #fff, 1085px 830px #fff,
    586px 977px #fff, 1766px 1890px #fff, 575px 573px #fff, 355px 1124px #fff,
    880px 1724px #fff, 1645px 695px #fff, 1317px 1480px #fff, 1391px 1371px #fff,
    177px 1934px #fff, 86px 1596px #fff, 743px 63px #fff, 763px 101px #fff,
    1148px 1978px #fff, 1651px 1660px #fff, 724px 863px #fff, 1538px 1549px #fff,
    497px 1866px #fff, 1122px 1675px #fff, 11px 31px #fff, 1619px 1623px #fff,
    833px 1129px #fff, 1312px 397px #fff, 300px 1680px #fff, 1840px 914px #fff,
    1898px 603px #fff, 1711px 430px #fff, 1859px 1085px #fff, 605px 528px #fff,
    724px 59px #fff, 781px 782px #fff, 185px 1698px #fff, 1450px 925px #fff,
    1465px 620px #fff, 1846px 426px #fff, 1067px 698px #fff, 459px 255px #fff,
    1468px 353px #fff, 1957px 1735px #fff, 1706px 1279px #fff, 783px 727px #fff,
    1862px 1502px #fff, 1202px 1402px #fff, 1782px 1456px #fff, 426px 482px #fff,
    180px 355px #fff, 1939px 1842px #fff, 173px 287px #fff, 147px 1807px #fff,
    482px 1262px #fff, 1259px 919px #fff, 404px 667px #fff, 1599px 452px #fff,
    967px 1928px #fff, 787px 856px #fff, 1734px 57px #fff, 1659px 640px #fff,
    717px 1482px #fff, 907px 320px #fff, 111px 1285px #fff, 1134px 243px #fff,
    102px 666px #fff, 950px 364px #fff, 803px 449px #fff, 1294px 1819px #fff,
    1950px 1878px #fff, 1767px 97px #fff, 861px 1601px #fff, 1121px 1555px #fff,
    157px 1084px #fff, 892px 526px #fff, 866px 1341px #fff, 329px 1699px #fff,
    1476px 1203px #fff, 41px 429px #fff, 830px 804px #fff, 429px 1673px #fff,
    1664px 528px #fff, 1553px 1152px #fff, 252px 1969px #fff, 819px 885px #fff,
    426px 80px #fff, 1389px 973px #fff, 319px 231px #fff, 1479px 1653px #fff,
    1854px 368px #fff, 1572px 1751px #fff, 1613px 1622px #fff,
    1086px 1063px #fff, 1578px 615px #fff, 1369px 1421px #fff, 1138px 579px #fff,
    1807px 1385px #fff, 1734px 1505px #fff, 1700px 1271px #fff, 1243px 65px #fff,
    466px 944px #fff, 299px 339px #fff, 1800px 120px #fff, 1653px 1389px #fff,
    278px 685px #fff, 1876px 36px #fff, 1332px 1772px #fff, 1241px 1247px #fff,
    232px 166px #fff, 175px 495px #fff, 305px 1081px #fff, 479px 1263px #fff,
    1258px 1109px #fff, 1067px 803px #fff, 620px 363px #fff, 1743px 1365px #fff,
    1184px 1015px #fff, 405px 695px #fff, 251px 1059px #fff, 1778px 388px #fff,
    1864px 1912px #fff, 577px 786px #fff, 465px 1953px #fff, 1067px 1688px #fff,
    1645px 1461px #fff, 280px 335px #fff, 1284px 1750px #fff, 599px 1541px #fff,
    1623px 1154px #fff, 69px 1663px #fff, 694px 109px #fff, 158px 243px #fff,
    1538px 658px #fff, 299px 1867px #fff, 245px 1824px #fff, 98px 477px #fff,
    1754px 1565px #fff, 496px 343px #fff, 1305px 691px #fff, 1040px 668px #fff,
    1148px 1685px #fff, 487px 462px #fff, 1764px 542px #fff, 1583px 1080px #fff,
    1474px 1296px #fff, 322px 1309px #fff, 972px 589px #fff, 6px 1980px #fff,
    1914px 1991px #fff, 1673px 158px #fff, 984px 1075px #fff, 1542px 253px #fff,
    1575px 834px #fff, 1166px 1764px #fff, 1657px 597px #fff, 1592px 1183px #fff,
    1279px 891px #fff, 382px 539px #fff, 1888px 1252px #fff, 1144px 775px #fff,
    1607px 1366px #fff, 1380px 1466px #fff, 516px 1888px #fff, 1965px 472px #fff,
    1689px 1803px #fff, 1573px 506px #fff, 1779px 1049px #fff, 1136px 258px #fff,
    144px 684px #fff, 1613px 211px #fff, 114px 1315px #fff, 1060px 304px #fff,
    1978px 1801px #fff, 421px 1807px #fff, 706px 1902px #fff, 820px 699px #fff,
    803px 1753px #fff, 205px 510px #fff, 1404px 1181px #fff, 543px 1711px #fff,
    1447px 1717px #fff, 1846px 1996px #fff, 1122px 356px #fff,
    1136px 1178px #fff, 711px 434px #fff, 1723px 895px #fff, 867px 606px #fff,
    1130px 1812px #fff, 500px 243px #fff, 1100px 931px #fff, 1638px 1311px #fff,
    452px 1551px #fff, 990px 78px #fff, 583px 1559px #fff, 1254px 1056px #fff,
    617px 1161px #fff, 1425px 1345px #fff, 329px 312px #fff, 728px 329px #fff,
    63px 1631px #fff, 830px 1060px #fff, 174px 1013px #fff, 1440px 1156px #fff,
    1352px 460px #fff, 612px 1287px #fff, 1074px 1718px #fff, 1510px 799px #fff,
    1314px 1020px #fff, 1027px 1765px #fff, 1556px 396px #fff, 878px 1618px #fff,
    675px 983px #fff, 656px 769px #fff, 1739px 1157px #fff, 975px 1145px #fff,
    1346px 1949px #fff, 738px 935px #fff, 829px 1567px #fff, 401px 756px #fff,
    268px 898px #fff, 1597px 1917px #fff, 1128px 1541px #fff, 1113px 777px #fff,
    1915px 169px #fff, 1829px 1990px #fff, 909px 1178px #fff, 425px 1316px #fff,
    815px 850px #fff, 1511px 1334px #fff, 491px 598px #fff, 1380px 287px #fff,
    1874px 985px #fff, 1117px 354px #fff, 923px 1201px #fff, 232px 577px #fff,
    885px 145px #fff, 1233px 351px #fff, 1231px 205px #fff, 1581px 1720px #fff,
    111px 1935px #fff, 966px 1727px #fff, 56px 611px #fff, 343px 1674px #fff,
    1203px 394px #fff, 326px 1271px #fff, 243px 281px #fff, 1849px 418px #fff,
    1175px 1805px #fff, 1943px 686px #fff, 1665px 1527px #fff, 372px 1071px #fff,
    1111px 1551px #fff, 1262px 1172px #fff, 885px 1827px #fff, 909px 406px #fff,
    1270px 1989px #fff, 1200px 728px #fff, 75px 393px #fff, 1545px 734px #fff,
    846px 1292px #fff, 1843px 1045px #fff, 532px 1682px #fff, 1680px 1038px #fff,
    729px 220px #fff, 184px 1850px #fff, 1377px 238px #fff, 81px 1738px #fff,
    1690px 1867px #fff, 1894px 1274px #fff, 309px 234px #fff, 319px 1807px #fff,
    92px 730px #fff, 1393px 1616px #fff, 849px 142px #fff, 148px 1695px #fff,
    1017px 1823px #fff, 240px 199px #fff, 1041px 1113px #fff, 626px 1757px #fff,
    1081px 1942px #fff, 688px 1328px #fff, 1371px 1815px #fff, 1302px 324px #fff,
    206px 1411px #fff, 1300px 313px #fff, 770px 1499px #fff, 216px 953px #fff,
    386px 665px #fff, 433px 944px #fff, 1248px 1110px #fff, 1755px 881px #fff,
    1464px 401px #fff, 1269px 132px #fff, 1306px 842px #fff, 1071px 1953px #fff,
    1440px 1382px #fff, 1470px 1071px #fff, 238px 1235px #fff, 82px 573px #fff,
    303px 400px #fff, 974px 536px #fff, 1794px 1575px #fff, 77px 928px #fff,
    908px 146px #fff, 711px 1329px #fff, 725px 1109px #fff, 1858px 1158px #fff,
    748px 1953px #fff, 688px 572px #fff, 77px 1289px #fff;
}
.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 513px 1364px #fff, 798px 644px #fff, 1878px 1777px #fff,
    1470px 1999px #fff, 575px 404px #fff, 428px 64px #fff, 77px 462px #fff,
    322px 280px #fff, 999px 748px #fff, 1147px 951px #fff, 251px 653px #fff,
    315px 829px #fff, 349px 1252px #fff, 115px 1033px #fff, 1590px 117px #fff,
    1131px 1801px #fff, 670px 1820px #fff, 1256px 1353px #fff, 1333px 413px #fff,
    643px 1927px #fff, 743px 1192px #fff, 732px 1899px #fff, 339px 1421px #fff,
    877px 374px #fff, 811px 1500px #fff, 1746px 746px #fff, 33px 109px #fff,
    1222px 1120px #fff, 1398px 1628px #fff, 336px 946px #fff, 1199px 1340px #fff,
    1460px 693px #fff, 1869px 1683px #fff, 1831px 743px #fff, 432px 1627px #fff,
    1290px 308px #fff, 986px 437px #fff, 1635px 562px #fff, 287px 525px #fff,
    1278px 1562px #fff, 1260px 1134px #fff, 1673px 67px #fff, 1768px 1107px #fff,
    741px 72px #fff, 1153px 1763px #fff, 863px 40px #fff, 694px 875px #fff,
    185px 1540px #fff, 868px 177px #fff, 1302px 767px #fff, 154px 332px #fff,
    1058px 186px #fff, 182px 1632px #fff, 1684px 13px #fff, 492px 952px #fff,
    139px 1485px #fff, 934px 568px #fff, 263px 7px #fff, 1290px 1868px #fff,
    426px 149px #fff, 411px 1310px #fff, 1155px 1009px #fff, 930px 1131px #fff,
    1426px 581px #fff, 1331px 1910px #fff, 1840px 266px #fff, 106px 464px #fff,
    1082px 1133px #fff, 84px 1566px #fff, 1026px 1770px #fff, 1149px 1304px #fff,
    1024px 549px #fff, 1043px 469px #fff, 561px 286px #fff, 1243px 1980px #fff,
    561px 1206px #fff, 723px 880px #fff, 1860px 761px #fff, 738px 1500px #fff,
    1885px 136px #fff, 240px 182px #fff, 972px 1224px #fff, 923px 1455px #fff,
    1264px 1944px #fff, 288px 1452px #fff, 287px 751px #fff, 177px 1402px #fff,
    279px 1588px #fff, 1544px 660px #fff, 1750px 862px #fff, 859px 833px #fff,
    1003px 33px #fff, 1409px 1706px #fff, 1332px 856px #fff, 1167px 571px #fff,
    1260px 703px #fff, 1528px 1798px #fff, 670px 588px #fff, 722px 202px #fff,
    824px 901px #fff, 705px 1293px #fff, 1027px 517px #fff, 1576px 155px #fff,
    1725px 1533px #fff, 575px 855px #fff, 1233px 1236px #fff, 602px 535px #fff,
    778px 1296px #fff, 193px 1689px #fff, 1384px 393px #fff, 739px 1103px #fff,
    1484px 1012px #fff, 375px 482px #fff, 626px 960px #fff, 1220px 493px #fff,
    348px 71px #fff, 29px 1679px #fff, 780px 73px #fff, 1695px 1722px #fff,
    1581px 585px #fff, 1989px 1334px #fff, 1399px 847px #fff, 784px 1381px #fff,
    744px 717px #fff, 994px 331px #fff, 606px 775px #fff, 253px 337px #fff,
    1927px 1286px #fff, 455px 1944px #fff, 1px 1254px #fff, 1716px 946px #fff,
    653px 546px #fff, 588px 1665px #fff, 834px 1112px #fff, 347px 330px #fff,
    1612px 330px #fff, 1028px 220px #fff, 1114px 1130px #fff, 1241px 211px #fff,
    519px 1686px #fff, 1035px 799px #fff, 1658px 252px #fff, 1450px 1977px #fff,
    1496px 1031px #fff, 1153px 941px #fff, 514px 1700px #fff, 826px 1727px #fff,
    1161px 884px #fff, 32px 1478px #fff, 1133px 411px #fff, 676px 1228px #fff,
    1784px 1271px #fff, 975px 840px #fff, 1976px 666px #fff, 1726px 853px #fff,
    47px 1988px #fff, 847px 1525px #fff, 165px 1271px #fff, 1942px 1557px #fff,
    158px 108px #fff, 1474px 48px #fff, 1338px 1792px #fff, 998px 1186px #fff,
    228px 843px #fff, 389px 676px #fff, 1897px 540px #fff, 1241px 1964px #fff,
    67px 582px #fff, 1593px 673px #fff, 807px 1433px #fff, 354px 779px #fff,
    95px 1782px #fff, 162px 773px #fff, 1764px 80px #fff, 1057px 1321px #fff,
    1940px 564px #fff, 147px 873px #fff, 387px 1113px #fff, 1201px 771px #fff,
    1566px 413px #fff, 1537px 1128px #fff, 195px 1881px #fff, 1988px 906px #fff,
    482px 926px #fff, 1668px 1339px #fff, 141px 600px #fff, 1690px 217px #fff,
    675px 1569px #fff, 1931px 1512px #fff, 1128px 908px #fff, 1919px 1371px #fff,
    310px 1636px #fff, 763px 1225px #fff, 1288px 1894px #fff, 1547px 1489px #fff,
    1143px 1141px #fff, 217px 380px #fff, 1670px 83px #fff, 1266px 69px #fff,
    391px 1298px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 513px 1364px #fff, 798px 644px #fff, 1878px 1777px #fff,
    1470px 1999px #fff, 575px 404px #fff, 428px 64px #fff, 77px 462px #fff,
    322px 280px #fff, 999px 748px #fff, 1147px 951px #fff, 251px 653px #fff,
    315px 829px #fff, 349px 1252px #fff, 115px 1033px #fff, 1590px 117px #fff,
    1131px 1801px #fff, 670px 1820px #fff, 1256px 1353px #fff, 1333px 413px #fff,
    643px 1927px #fff, 743px 1192px #fff, 732px 1899px #fff, 339px 1421px #fff,
    877px 374px #fff, 811px 1500px #fff, 1746px 746px #fff, 33px 109px #fff,
    1222px 1120px #fff, 1398px 1628px #fff, 336px 946px #fff, 1199px 1340px #fff,
    1460px 693px #fff, 1869px 1683px #fff, 1831px 743px #fff, 432px 1627px #fff,
    1290px 308px #fff, 986px 437px #fff, 1635px 562px #fff, 287px 525px #fff,
    1278px 1562px #fff, 1260px 1134px #fff, 1673px 67px #fff, 1768px 1107px #fff,
    741px 72px #fff, 1153px 1763px #fff, 863px 40px #fff, 694px 875px #fff,
    185px 1540px #fff, 868px 177px #fff, 1302px 767px #fff, 154px 332px #fff,
    1058px 186px #fff, 182px 1632px #fff, 1684px 13px #fff, 492px 952px #fff,
    139px 1485px #fff, 934px 568px #fff, 263px 7px #fff, 1290px 1868px #fff,
    426px 149px #fff, 411px 1310px #fff, 1155px 1009px #fff, 930px 1131px #fff,
    1426px 581px #fff, 1331px 1910px #fff, 1840px 266px #fff, 106px 464px #fff,
    1082px 1133px #fff, 84px 1566px #fff, 1026px 1770px #fff, 1149px 1304px #fff,
    1024px 549px #fff, 1043px 469px #fff, 561px 286px #fff, 1243px 1980px #fff,
    561px 1206px #fff, 723px 880px #fff, 1860px 761px #fff, 738px 1500px #fff,
    1885px 136px #fff, 240px 182px #fff, 972px 1224px #fff, 923px 1455px #fff,
    1264px 1944px #fff, 288px 1452px #fff, 287px 751px #fff, 177px 1402px #fff,
    279px 1588px #fff, 1544px 660px #fff, 1750px 862px #fff, 859px 833px #fff,
    1003px 33px #fff, 1409px 1706px #fff, 1332px 856px #fff, 1167px 571px #fff,
    1260px 703px #fff, 1528px 1798px #fff, 670px 588px #fff, 722px 202px #fff,
    824px 901px #fff, 705px 1293px #fff, 1027px 517px #fff, 1576px 155px #fff,
    1725px 1533px #fff, 575px 855px #fff, 1233px 1236px #fff, 602px 535px #fff,
    778px 1296px #fff, 193px 1689px #fff, 1384px 393px #fff, 739px 1103px #fff,
    1484px 1012px #fff, 375px 482px #fff, 626px 960px #fff, 1220px 493px #fff,
    348px 71px #fff, 29px 1679px #fff, 780px 73px #fff, 1695px 1722px #fff,
    1581px 585px #fff, 1989px 1334px #fff, 1399px 847px #fff, 784px 1381px #fff,
    744px 717px #fff, 994px 331px #fff, 606px 775px #fff, 253px 337px #fff,
    1927px 1286px #fff, 455px 1944px #fff, 1px 1254px #fff, 1716px 946px #fff,
    653px 546px #fff, 588px 1665px #fff, 834px 1112px #fff, 347px 330px #fff,
    1612px 330px #fff, 1028px 220px #fff, 1114px 1130px #fff, 1241px 211px #fff,
    519px 1686px #fff, 1035px 799px #fff, 1658px 252px #fff, 1450px 1977px #fff,
    1496px 1031px #fff, 1153px 941px #fff, 514px 1700px #fff, 826px 1727px #fff,
    1161px 884px #fff, 32px 1478px #fff, 1133px 411px #fff, 676px 1228px #fff,
    1784px 1271px #fff, 975px 840px #fff, 1976px 666px #fff, 1726px 853px #fff,
    47px 1988px #fff, 847px 1525px #fff, 165px 1271px #fff, 1942px 1557px #fff,
    158px 108px #fff, 1474px 48px #fff, 1338px 1792px #fff, 998px 1186px #fff,
    228px 843px #fff, 389px 676px #fff, 1897px 540px #fff, 1241px 1964px #fff,
    67px 582px #fff, 1593px 673px #fff, 807px 1433px #fff, 354px 779px #fff,
    95px 1782px #fff, 162px 773px #fff, 1764px 80px #fff, 1057px 1321px #fff,
    1940px 564px #fff, 147px 873px #fff, 387px 1113px #fff, 1201px 771px #fff,
    1566px 413px #fff, 1537px 1128px #fff, 195px 1881px #fff, 1988px 906px #fff,
    482px 926px #fff, 1668px 1339px #fff, 141px 600px #fff, 1690px 217px #fff,
    675px 1569px #fff, 1931px 1512px #fff, 1128px 908px #fff, 1919px 1371px #fff,
    310px 1636px #fff, 763px 1225px #fff, 1288px 1894px #fff, 1547px 1489px #fff,
    1143px 1141px #fff, 217px 380px #fff, 1670px 83px #fff, 1266px 69px #fff,
    391px 1298px #fff;
}
.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 740px 918px #fff, 407px 1224px #fff, 33px 1437px #fff,
    1044px 552px #fff, 920px 1483px #fff, 1000px 1759px #fff, 308px 218px #fff,
    1270px 419px #fff, 51px 724px #fff, 313px 1839px #fff, 1855px 1445px #fff,
    1775px 958px #fff, 1991px 1730px #fff, 1739px 1422px #fff, 841px 1002px #fff,
    1335px 819px #fff, 1100px 1379px #fff, 38px 1557px #fff, 1314px 133px #fff,
    1129px 133px #fff, 758px 1423px #fff, 1114px 332px #fff, 1678px 990px #fff,
    511px 634px #fff, 379px 1530px #fff, 382px 64px #fff, 1565px 770px #fff,
    1223px 802px #fff, 397px 60px #fff, 1171px 322px #fff, 13px 806px #fff,
    1440px 1855px #fff, 807px 1038px #fff, 1129px 174px #fff, 1326px 1922px #fff,
    517px 947px #fff, 1410px 1628px #fff, 1891px 1413px #fff, 1320px 226px #fff,
    668px 1872px #fff, 1553px 898px #fff, 353px 1662px #fff, 626px 1097px #fff,
    1502px 814px #fff, 121px 897px #fff, 1834px 979px #fff, 1870px 1673px #fff,
    1476px 302px #fff, 1348px 1567px #fff, 1546px 304px #fff, 1092px 30px #fff,
    1867px 1236px #fff, 1959px 1894px #fff, 1821px 1680px #fff,
    1413px 276px #fff, 986px 1313px #fff, 1210px 944px #fff, 1306px 1247px #fff,
    686px 1341px #fff, 1712px 439px #fff, 1988px 758px #fff, 502px 460px #fff,
    1789px 1416px #fff, 401px 251px #fff, 127px 598px #fff, 1343px 1523px #fff,
    1752px 1261px #fff, 1960px 1177px #fff, 155px 1503px #fff,
    1947px 1810px #fff, 1197px 1205px #fff, 1792px 404px #fff, 1996px 652px #fff,
    377px 1517px #fff, 1417px 1767px #fff, 756px 1517px #fff, 167px 1216px #fff,
    528px 206px #fff, 1435px 1856px #fff, 1913px 1119px #fff, 758px 1857px #fff,
    395px 1862px #fff, 1856px 1587px #fff, 1815px 1509px #fff, 1767px 83px #fff,
    779px 1330px #fff, 900px 1632px #fff, 123px 782px #fff, 525px 1533px #fff,
    517px 528px #fff, 33px 1578px #fff, 1934px 431px #fff, 533px 82px #fff,
    1335px 509px #fff, 1134px 897px #fff, 1145px 521px #fff, 664px 1475px #fff,
    1987px 297px #fff, 188px 1265px #fff, 1235px 1283px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 740px 918px #fff, 407px 1224px #fff, 33px 1437px #fff,
    1044px 552px #fff, 920px 1483px #fff, 1000px 1759px #fff, 308px 218px #fff,
    1270px 419px #fff, 51px 724px #fff, 313px 1839px #fff, 1855px 1445px #fff,
    1775px 958px #fff, 1991px 1730px #fff, 1739px 1422px #fff, 841px 1002px #fff,
    1335px 819px #fff, 1100px 1379px #fff, 38px 1557px #fff, 1314px 133px #fff,
    1129px 133px #fff, 758px 1423px #fff, 1114px 332px #fff, 1678px 990px #fff,
    511px 634px #fff, 379px 1530px #fff, 382px 64px #fff, 1565px 770px #fff,
    1223px 802px #fff, 397px 60px #fff, 1171px 322px #fff, 13px 806px #fff,
    1440px 1855px #fff, 807px 1038px #fff, 1129px 174px #fff, 1326px 1922px #fff,
    517px 947px #fff, 1410px 1628px #fff, 1891px 1413px #fff, 1320px 226px #fff,
    668px 1872px #fff, 1553px 898px #fff, 353px 1662px #fff, 626px 1097px #fff,
    1502px 814px #fff, 121px 897px #fff, 1834px 979px #fff, 1870px 1673px #fff,
    1476px 302px #fff, 1348px 1567px #fff, 1546px 304px #fff, 1092px 30px #fff,
    1867px 1236px #fff, 1959px 1894px #fff, 1821px 1680px #fff,
    1413px 276px #fff, 986px 1313px #fff, 1210px 944px #fff, 1306px 1247px #fff,
    686px 1341px #fff, 1712px 439px #fff, 1988px 758px #fff, 502px 460px #fff,
    1789px 1416px #fff, 401px 251px #fff, 127px 598px #fff, 1343px 1523px #fff,
    1752px 1261px #fff, 1960px 1177px #fff, 155px 1503px #fff,
    1947px 1810px #fff, 1197px 1205px #fff, 1792px 404px #fff, 1996px 652px #fff,
    377px 1517px #fff, 1417px 1767px #fff, 756px 1517px #fff, 167px 1216px #fff,
    528px 206px #fff, 1435px 1856px #fff, 1913px 1119px #fff, 758px 1857px #fff,
    395px 1862px #fff, 1856px 1587px #fff, 1815px 1509px #fff, 1767px 83px #fff,
    779px 1330px #fff, 900px 1632px #fff, 123px 782px #fff, 525px 1533px #fff,
    517px 528px #fff, 33px 1578px #fff, 1934px 431px #fff, 533px 82px #fff,
    1335px 509px #fff, 1134px 897px #fff, 1145px 521px #fff, 664px 1475px #fff,
    1987px 297px #fff, 188px 1265px #fff, 1235px 1283px #fff;
}
